CAMAAR/*.rbc
CAMAAR/capybara-*.html
CAMAAR/.rspec
CAMAAR/db/*.sqlite3
CAMAAR/db/*.sqlite3-journal
CAMAAR/db/*.sqlite3-[0-9]*
CAMAAR/public/system
CAMAAR/coverage/
CAMAAR/spec/tmp
CAMAAR/*.orig
CAMAAR/rerun.txt
CAMAAR/pickle-email-*.html

# Ignore all logfiles and tempfiles.
CAMAAR/log/*
CAMAAR/tmp/*
CAMAAR/!/log/.keep
CAMAAR/!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
CAMAAR/config/initializers/secret_token.rb
CAMAAR/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
.env
.env*.local

## Environment normalization:
CAMAAR/.bundle
CAMAAR/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
CAMAAR/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
CAMAAR/vendor/assets/bower_components
CAMAAR/*.bowerrc
CAMAAR/bower.json

# Ignore pow environment settings
CAMAAR/.powenv

# Ignore Byebug command history file.
CAMAAR/.byebug_history

# Ignore node_modules
CAMAAR/node_modules/

# Ignore precompiled javascript packs
CAMAAR/public/packs
CAMAAR/public/packs-test
CAMAAR/public/assets

# Ignore yarn files
CAMAAR/yarn-error.log
CAMAAR/yarn-debug.log*
CAMAAR/.yarn-integrity

# Ignore uploaded files in development
CAMAAR/storage/*
CAMAAR/!/storage/.keep
CAMAAR/public/uploads