<div id="<%= dom_id form %>">
  <p>
    <strong>Administrator id:</strong>
    <%= form.administrator_ID %>
  </p>

  <p>
    <strong>Template id:</strong>
    <%= form.template_ID %>
  </p>

  <p>
    <strong>Turma id:</strong>
    <%= form.turma_ID %>
  </p>

</div>
