<% content_for :title, "Editing classess" %>

<h1>Editing classess</h1>

<%= render "form", classess: @classess %>

<br>

<div>
  <%= link_to "Show this classess", @classess %> |
  <%= link_to "Back to classesses", classesses_path %>
</div>
