<p style="color: green"><%= notice %></p>

<% content_for :title, "Classesses" %>

<h1>Classesses</h1>

<div id="classesses">
  <% @classesses.each do |classess| %>
    <%= render classess %>
    <p>
      <%= link_to "Show this classess", classess %>
    </p>
  <% end %>
</div>

<%= link_to "New classess", new_classess_path %>
