<% content_for :title, "Editing template" %>

<h1>Editing template</h1>

<%= render "form", template: @template %>

<br>

<div>
  <%= link_to "Show this template", admin_template_path(@template) %> |
  <%= link_to "Back to templates", admin_templates_path %>
</div>
