<div id="<%= dom_id formulario %>">
  <p>
    <strong>Administrador:</strong>
    <%= formulario.administrador_id %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= formulario.template_id %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= formulario.turma_id %>
  </p>

</div>
